main.main
    #main__slider
        .slide
            img.slide__img(src="img/top_bg.png" alt="")
        .slide
            img.slide__img(src="img/img2.jpg" alt="")
        .slide
            img.slide__img(src="img/top_bg.png" alt="")
    .main__header
        .text-center
            h3.main__h3 Can you build the website of my dreams?
            h2.main__h2 Yup, we can do that.
            a.button.text__capitalise#pop(href='#') Learn More
